
\.vs/lab3/v15/Browse\.VC\.db

\.vs/lab3/v15/Browse\.VC\.opendb

\.vs/lab3/v15/Solution\.VC\.db

\.vs/lab3/v15/ipch/2c15ac3de9e035f2\.ipch

\.vs/lab3/v15/Solution\.VC\.db-shm

\.vs/lab3/v15/Solution\.VC\.db-wal

task1/Debug/pch\.obj

task1/Debug/task1\.tlog/CL\.command\.1\.tlog

task1/Debug/task1\.tlog/CL\.read\.1\.tlog

task4/task4\.vcxproj

task4/task4\.vcxproj\.filters

task4/task4\.vcxproj\.user

task4/Debug/vc141\.pdb

task4/Debug/vc141\.idb

task4/Debug/task4\.tlog/unsuccessfulbuild

task4/Debug/task4\.tlog/task4\.lastbuildstate

task4/Debug/task4\.tlog/link\.write\.1\.tlog

task4/Debug/task4\.tlog/link\.read\.1\.tlog

task4/Debug/task4\.tlog/link\.command\.1\.tlog

task4/Debug/task4\.tlog/CL\.write\.1\.tlog

task4/Debug/task4\.tlog/CL\.command\.1\.tlog

task4/Debug/task4\.tlog/CL\.read\.1\.tlog

task4/Debug/task4\.pch

task4/Debug/task4\.log

task4/Debug/pch\.obj

task1/Debug/task1\.log

\.vs/lab3/v15/\.suo

task1/Debug/task1\.obj

task1/Debug/task1\.pch

task1/Debug/task1\.tlog/CL\.write\.1\.tlog

task1/Debug/task1\.tlog/link\.command\.1\.tlog

task1/Debug/task1\.tlog/link\.read\.1\.tlog

task1/Debug/task1\.tlog/link\.write\.1\.tlog

task1/Debug/task1\.tlog/task1\.lastbuildstate

task1/Debug/vc141\.idb

task1/Debug/vc141\.pdb

task2/Debug/task2\.obj

task2/Debug/task2\.pch

task2/Debug/task2\.tlog/CL\.command\.1\.tlog

task2/Debug/task2\.tlog/CL\.read\.1\.tlog

task2/Debug/task2\.tlog/CL\.write\.1\.tlog

task2/Debug/task2\.tlog/link\.command\.1\.tlog

task2/Debug/task2\.tlog/link\.read\.1\.tlog

task2/Debug/task2\.tlog/link\.write\.1\.tlog

task2/Debug/task2\.tlog/task2\.lastbuildstate

task2/Debug/vc141\.idb

task2/Debug/vc141\.pdb

task3/Debug/pch\.obj

task3/Debug/task3\.log

task3/Debug/task3\.obj

task3/Debug/task3\.pch

task3/Debug/task3\.tlog/CL\.command\.1\.tlog

task3/Debug/task3\.tlog/CL\.read\.1\.tlog

task3/Debug/task3\.tlog/CL\.write\.1\.tlog

task3/Debug/task3\.tlog/link\.command\.1\.tlog

task3/Debug/task3\.tlog/link\.read\.1\.tlog

task3/Debug/task3\.tlog/link\.write\.1\.tlog

task3/Debug/task3\.tlog/task3\.lastbuildstate

task3/Debug/vc141\.idb

task3/Debug/vc141\.pdb
